<mat-card class="p-4 pr-8 space-y-4">

  @if ($me) {
    <div class="flex items-center">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>person</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
      <h3 class="text-xl ml-2 mt-2">Hello
        {{ ($me | async)?.username }}
      </h3>
    </div>

    <div class="w-full">
      <h3 class="text-xl">Configuration:</h3>
     @let config = $autoPauseConfiguration | async;

      @if (config) {
        <div>
          <mat-checkbox [(ngModel)]="config.enabled">Enabled</mat-checkbox>
        </div>

        <h4 class="text-l">Time watched for auto pause:</h4>
        <app-duration-picker-component [(isoDurationString)]="config.watchDuration" (isoDurationStringChange)="console.log($event)">

        </app-duration-picker-component>

        <h4 class="text-l">Number of items watched for auto pause:</h4>

        <mat-form-field class="w-full">
          <mat-label>Number of Items</mat-label>
          <input [(ngModel)]="config.differentItems" matInput type="number">
        </mat-form-field>

        <div class="flex justify-end">
          <button matButton="filled" (click)="saveConfiguration(config)">Save</button>
        </div>

      }

    </div>


  }

</mat-card>
