
// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use 'theme-colors' as colors;

html {
  @include mat.theme((
    color: (
      primary: colors.$primary-palette,
      tertiary: colors.$tertiary-palette,
      theme-type: dark,
    ),
    typography: Roboto,
    density: 0,
  ));
}
body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}
